:root {
    --primary-color: #861F41;
    --secondary-color: #1F618D;
    --text-color: #171717;
    --title-color: #171717;
    --background-color: #ffffff;
    --distributor-add-color: #081950;
    --upload-file-color: #045240;
    --notification-color: #D35400;
  }
